{% extends 'base.html.twig' %}

{% block crumbs %}
    <nav class="breadcrumb" aria-label="breadcrumbs">
        <ul>
            <li><a href="/">Home</a></li>
            <li><a href="{{ path('authors') }}">Authors</a></li>
        </ul>
    </nav>
{% endblock %}

{% block body %}
    <table class="table is-fullwidth is-striped is-hoverable">
        <thead>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Date Added</th>
        </tr>
        </thead>
        <tbody>
        {% for author in authors %}
            <tr>
                <td>{{ author.id }}</td>
                <td>{{ author.name }}</td>
                <td>{{ author.dateCreated|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    {% if authors.haveToPaginate %}
        {{ pagerfanta(authors, 'bulma_template', {routeName: 'authors_paginated'}) }}
    {% endif %}
{% endblock %}
