{% extends 'base.html.twig' %}

{% block body %}
{{ form_start(form) }}
{{ form_errors(form) }}
{{ form_row(form.book, {label: "Book Name"}) }}

<div class="field">
    <label class="label">Author(s) Name</label>
    <div class="control">
        <div class="select is-fullwidth">
            <select
                    name="create_read_log[authors][name][]"
                    type="text"
                    id="create_read_log_author_name"
                    multiple
                    class="{% if not form.authors.vars.valid %}is-danger{% endif  %}"
            >
            </select>
        </div>
    </div>
    {{ form_errors(form.authors) }}
</div>

{{ form_row(form.comment) }}

<div class="field">
    {{ form_label(form.dateRead) }}
</div>
<div class="field is-grouped">
    {{ form_widget(form.dateRead) }}
</div>

<div class="field is-grouped is-grouped-right">
    <p class="control">
        <button class="button is-primary">
            Submit
        </button>
    </p>
    <p class="control">
        <a class="button is-light" href="/">
            Cancel
        </a>
    </p>
</div>

{{ form_widget(form._token) }}
{% endblock %}

{% block javascripts %}
{{ parent() }}
<script src="{{ asset('build/createreadlog.js') }}"></script>
{% endblock %}
