<table class="table is-fullwidth is-striped is-hoverable">
    <thead>
    <tr>
        <th>ID</th>
        <th>Book</th>
        <th>Author(s)</th>
        <th>Comment</th>
        <th>Date Read</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    {% for log in logs %}
        <tr>
            <td>{{ log.id }}</td>
            <td>{{ log.book.name }}</td>
            <td>
                <div class="tags">
                {% for author in log.book.authors %}
                    <span class="tag">{{ author.name }}</span>
                {% endfor %}
                </div>
            </td>
            <td>{{ log.note }}</td>
            <td>{{ log.dateRead|date('Y-m-d') }}</td>
            <td>
                <a class="button is-small" href="{{ path('read_log_edit', {id: log.id}) }}" title="Edit log">
                    <span class="icon is-small"><i class="fa fa-edit"></i></span>
                </a>
            </td>
        </tr>
    {% endfor %}
    </tbody>
</table>
