{% extends 'base.html.twig' %}

{% block body %}
    <table>
        <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Authors</th>
            <th>Date Added</th>
        </tr>
        {% for book in books %}
            <tr>
                <td>{{ book.id }}</td>
                <td>{{ book.name }}</td>
                <td>
                    {% for author in book.authors %}
                        {{ author.name }}{% if not loop.last %}, {% endif %}
                    {% endfor %}
                </td>
                <td>{{ book.dateCreated|date('Y-m-d') }}</td>
            </tr>
        {% endfor %}
    </table>

    {% if books.haveToPaginate %}
        <div class="navigation text-center">
            {{ pagerfanta(books, 'twitter_bootstrap3_translated', {routeName: 'books_paginated'}) }}
        </div>
    {% endif %}
{% endblock %}