<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookshelf - Keep track of what you've read.</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>
<nav class="navbar is-transparent is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <p class="title">Bookshelf</p>
            </a>
            <div class="navbar-burger burger" data-target="bookshelf-main-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div id="bookshelf-main-menu" class="navbar-menu">
                <div class="navbar-start">
                    <div class="navbar-item">
                        <div class="field has-addons">
                            <div class="control">
                                <input
                                        class="input"
                                        type="text"
                                        placeholder="Search for a book or author"
                                        id="search-box"
                                        data-user-id="{{ app.user.id }}"
                                >
                            </div>
                            <div class="control">
                                <a class="button is-info">
                                    Search
                                </a>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="navbar-end">
                    <div class="navbar-item">
                        <p class="control">
                            <a class="button is-primary" href="{{ path('read_log_create') }}">
                              <span class="icon">
                                <i class="fa fa-plus"></i>
                              </span>
                                <span>Add Log</span>
                            </a>
                        </p>
                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <p class="navbar-link">
                            Account
                        </p>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="{{ path('authors') }}">
                                Authors
                            </a>
                            <a class="navbar-item" href="{{ path('books') }}">
                                Books
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{{ path('logout') }}">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</nav>

<section class="section">
    <div class="container">
        {% block crumbs %}{% endblock %}
        {% block body %}{% endblock %}
    </div>
</section>

{% block javascripts %}
<script src="{{ asset('build/manifest.js') }}"></script>
<script src="{{ asset('build/vendor.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
