<!DOCTYPE html>
<html class="has-navbar-fixed-top">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bookshelf - Keep track of what you've read.</title>
    {% block stylesheets %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{{ asset('build/app.css') }}">
    {% endblock %}
</head>
<body>
<nav class="navbar is-transparent is-fixed-top">
    <div class="container">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">
                <p class="title">Bookshelf</p>
            </a>
            <div class="navbar-burger burger" data-target="bookshelf-main-menu">
                <span></span>
                <span></span>
                <span></span>
            </div>
        </div>

        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <div id="bookshelf-main-menu" class="navbar-menu">

                <div class="navbar-end">
                    <div class="navbar-item">
                        <div class="field is-grouped">
                            <p class="control">
                                <a class="button is-primary" href="{{ path('read_log_create') }}">
                                    <span class="icon"><i class="fa fa-plus"></i></span>
                                    <span>Add Log</span>
                                </a>
                            </p>
                            <p class="control">
                                <a class="button is-info" href="{{ path('read_log_search') }}">
                                    <span class="icon"><i class="fa fa-search"></i></span>
                                    <span>Search</span>
                                </a>
                            </p>
                        </div>

                    </div>
                    <div class="navbar-item has-dropdown is-hoverable">
                        <p class="navbar-link">
                            Account
                        </p>
                        <div class="navbar-dropdown is-boxed">
                            <a class="navbar-item" href="{{ path('authors') }}">
                                Authors
                            </a>
                            <a class="navbar-item" href="{{ path('books') }}">
                                Books
                            </a>
                            <hr class="navbar-divider">
                            <a class="navbar-item" href="{{ path('change_password') }}">
                                Change Password
                            </a>
                            <a class="navbar-item" href="{{ path('logout') }}">
                                Logout
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        {% endif %}
    </div>
</nav>

{% if logs is empty %}
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container">
            <h1 class="title">
                Welcome to Bookshelf!
            </h1>
            <h2 class="subtitle">
                Hello {{ app.user.name }}, welcome to your personal Bookshelf. Your one stop shop for keeping track
                of all the books that you have read.
            </h2>

            <p>
                Click the <strong>Add Log</strong> button in the header to get started.
            </p>
        </div>
    </div>
</section>
{% endif %}
<section class="section">
    <div class="container">
        {% for label, messages in app.flashes %}
            {% for message in messages %}
                <div class="notification is-{{ label }}">
                    <button class="delete"></button>
                    {{ message }}
                </div>
            {% endfor %}
        {% endfor %}
        {% block crumbs %}{% endblock %}
        {% block body %}{% endblock %}
    </div>
</section>

{% block javascripts %}
<script src="{{ asset('build/manifest.js') }}"></script>
<script src="{{ asset('build/vendor.js') }}"></script>
<script src="{{ asset('build/app.js') }}"></script>
{% endblock %}
</body>
</html>
